{% extends "base.html" %}
{% from rent.template_utils import format_cents %}

{% block body %}
<p>
  Logged in as {{ user }}. <a href="{{ reverse_url('logout') }}">Logout</a>
</p>
<h2>Send money</h2>
<p>
  <form action="{{ reverse_url('pay') }}" method="POST">
    <ul>
      {% module xsrf_form_html() %}
      <li><label for="to_user">To:</label>
      <select name="to_user">
          {% for to_user in to_users %}
          <option value="{{to_user.username}}"> {{to_user.username}}</option>
          {% end for %}
      </select>

      <li><label for="amount">Amount:</label><input type="textbox" name="amount" />
      <li><label for="comment">Comment:</label><input type="textbox" name="comment" />
      <li><input type="submit" value="Pay" />
    </ul>
  </form>
</p>
<h2>Transactions</h2>
<p>
  <table>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>From</th>
      <th>To</th>
      <th>Amount</th>
      <th>Comment</th>
    </tr>
    {% for txn in transactions %}
    <tr>
      <td>{{ txn.id }}</td>
      <td>{{ txn.date }}</td>
      <td>{{ txn.from_user }}</td>
      <td>{{ txn.to_user }}</td>
      <td>{{ format_cents(txn.amount) }}</td>
      <td>{{ txn.comment }}</td>
    </tr>
    {% end for %}
  </table>
</p>
{% end block %}
