{% extends "base.html" %}
{% from rent.template_utils import format_cents %}

{% block body %}
<h2>Send money</h2>
<form action="{{ reverse_url('pay') }}" method="POST" role="form">
  {% module xsrf_form_html() %}
  <div class="form-group">
    <label for="to_user">To:</label>
    <select class="form-control" name="to_user">
      {% for to_user in to_users %}
      <option value="{{to_user.username}}">{{to_user.username}}</option>
      {% end for %}
    </select>
  </div>

  <div class="form-group">
    <label for="amount">Amount:</label>
    <input type="number" class="form-control" name="amount" placeholder="Amount to pay" />
  </div>
  <div class="form-group">
    <label for="comment">Comment:</label>
    <input type="text" class="form-control" name="comment" placeholder="Comment" />
  </div>
  <button type="submit" class="btn btn-default">Pay</button>
</form>
{% end block %}
